<!DOCTYPE html>
<html>
    <head></head>
    <title>test</title>
    <body><h3>Just For Test</h3>
    {{>footer}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/chat.js"></script>
    </body>
     
</html> 
 
 
 
